.go-content{
  position: relative;
  z-index: 20;
}

.go-content:not(:last-child) {
  margin-bottom: 5em;
}

.go-content h3 {
  font-size: var(--font-size-subtitle);
}

.go-content p {
  font-size: var(--font-size-avarage-200);
  font-family: var(--secondary-font);
  margin-top: 0.5em;
}
