.introduce-section {
  background-color: rgb(244, 243, 236);
  background-image: url("../../../assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.portre-wrapper {
  margin-top: 3em;
}

.portre-img {
  width: min(100%, 500px);
  border-radius: var(--radius-100);
  box-shadow: var(--shadow--200);
}

.signature img {
  margin-top: 1em;
  width: 100%;
}

/* *****************************************************************
------ Width > 768px ------------------------------------------------*/
@media (min-width: 1200px) {
  .introduce-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5em;
  }

  .portre-wrapper {
    margin-top: 0;
    width: 50%;
  }

  .description {
    width: 50%;
  }
}
