.hero {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color-braun-img);
  background-image: url("../../assets/pic_2.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-title-wrapper {
 
  padding: 0 1em;
  margin-bottom: 3em;
  font-weight: 800;
}

.hero-title-wrapper h2 {
  font-size: var(--font-size-title);
  color: var(--color-green);
  margin-bottom: 1em;
}

.hero-title-wrapper h1 {
  font-size: var(--font-size-title);
  font-weight: 900;
}
