.hero {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color-braun-img);
  background-image: url("../../assets/pic_2.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-title {
  font-size: var(--font-size-avarage-200);
  padding: 0 1em;
  margin-bottom: 3em;
  font-weight: 800;
}

.hero-title h2 {
  color: var(--color-green);
  margin-bottom: 1em;
}


/* *****************************************************************
------ Width > 768px ------------------------------------------------*/

@media (min-width: 768px) {
  .hero-title {
    font-size: var(--font-size-title);
  
  }
}

