*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;

  font-family: inherit;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .03rem;
}

/*-------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

:root {
  /* **COLOR** */
  --color-braun: #4a3e39;
  --color-braun-img: #7e7e7e;
  --color-braun-dark: #3e342f;
  --color-green: #b0dd00;
  --color-orange: #f7dc81;
  --background-green-lighter: linear-gradient(45deg, #278f80, #21ac9d);
  --gradient-white: linear-gradient(#ffffff, #d9d9d9);
  --white: rgb(243, 243, 243);
  --transparent: #75635caf;
  /* **FONTS** */
  --main-font: "Lato", Arial, sans-serif;
  --secondary-font: "Fauna One", Arial, sans-serif;
  --font-size-small: clamp(0.9rem, -0.25rem + 3.333vw, 1rem);
  --font-size-avarage: clamp(1rem, -0.25rem + 3.333vw, 1.2rem);
  --font-size-avarage-200: clamp(1.15rem, -0.25rem + 3.333vw, 1.25rem);
  --font-size-medium: 1.25rem;
  --font-size-subtitle: 1.5rem;
  --font-size-title: clamp(1.1rem, -0.25rem + 3.333vw, 1.65rem);
  /* **BORDER-RADIUS** */
  --radius-100: 5px;
  --radius-600: 50px;
  --radius-900: 100px;
  /* **BOX SHADOWS** */
  --shadow--200: 2px 2px 15px rgba(13, 13, 13, 0.53);
  --shadow--300: 3px 3px 8px rgba(36, 22, 5, 0.35);
}

/*-------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

body {
  width: 100vw;
  height: 100vh;
  background-image: var(--gradient-white);
  background-repeat: no-repeat;
  font-family: var(--main-font);
  color: var(--white);
}

input:focus {
  outline: none;
}