*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;

  font-family: inherit;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.03rem;

  scroll-behavior: smooth;
}

/*-------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

:root {
  /* **COLOR** */
  --color-braun: #4a3e39;
  --color-braun-img: #7e7e7e;
  --color-braun-dark: #3e342f;
  --color-green: #b0dd00;
  --color-green-dark: #a5cf00;
  --color-orange: #dcb871;
  --gradient-white: linear-gradient(to top, #ffffff, #fbf9e5);
  --white: rgb(243, 243, 243);
  /* **FONTS** */
  --main-font: "Lato", Arial, sans-serif;
  --secondary-font: "Fauna One", Arial, sans-serif;
  --font-size-small: clamp(0.9rem, -0.25rem + 3.333vw, 1rem);
  --font-size-avarage: clamp(1rem, -0.25rem + 3.333vw, 1.2rem);
  --font-size-avarage-200: clamp(1.15rem, -0.25rem + 3.333vw, 1.25rem);
  --font-size-medium: 1.6rem;
  --font-size-subtitle: clamp(1.4rem, -0.25rem + 3.333vw, 1.6rem);
  --font-size-title: clamp(1.6rem, -0.25rem + 3.333vw, 3rem);
  /* **BORDER-RADIUS** */
  --radius-100: 5px;
  --radius-200: 15px;
  --radius-600: 50px;
  /* **BOX SHADOWS** */
  --shadow--200: 2px 2px 15px rgba(13, 13, 13, 0.53);
  --shadow--300: 3px 3px 6px rgba(36, 22, 5, 0.35);
}

/*-------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------*/

body {
  font-family: var(--main-font);
  color: var(--white);
}

.hoc {
  margin-top: -1.2em;
  padding: 0;
}

input:focus {
  outline: none;
}

/* *****************************************************************
------ Defaukt section styles ------------------------------------------------*/

.sections-paragraphe {
  font-size: var(--font-size-avarage-200);
  font-family: var(--secondary-font);
}

.sections-paragraphe::first-letter {
  font-size: larger;
}

.sections-wrapper {
  width: min(80%, 1000px);
  margin: auto;
  padding: 6em 0;
  color: var(--color-braun);
}

.sections-title {
  font-size: var(--font-size-title);
  font-weight: 800;
  margin-bottom: 2em;
  text-align: left;
}

.section-green {
  background-color: var(--color-green);
  background-image: url("./assets/ornamental.svg");
  background-blend-mode: overlay;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.267);
}

/* *****************************************************************
------ Width > 768px ------------------------------------------------*/
@media (min-width: 768px) {
  .section-wrapper {
    padding: 10em 1em;
  }
}
